* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 10px;
  line-height: 10px;
  color: #000; }

a {
  text-decoration: none;
  color: #000;
  border-bottom: 2px solid transparent; }
  a:hover {
    border-bottom-color: #000;
    transition: border-bottom-color .3s linear; }

li {
  list-style: none; }

button {
  cursor: pointer; }

.wrapper {
  padding-left: 405px !important;
  padding-right: 405px !important; }

.callback-block__tel-number {
  font-size: 1.6em;
  line-height: 1.9rem;
  color: #000; }

.callback-block__callback-button {
  border-color: #f13c6e !important;
  background: #fff; }

.default-button {
  border-radius: 40px;
  color: #000;
  font-size: 1.4rem;
  line-height: 1.6rem;
  padding: 12px 26px;
  border: 2px solid; }

.section-title {
  color: #000;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.8rem; }

.products-layout {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  gap: 20px; }

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 25px 50px;
  background-color: #fff;
  border-radius: 3px;
  cursor: pointer; }
  .product-card:hover .product-card__img {
    transform: scale(1.2);
    transition: transform 0.3s linear; }
  .product-card__img {
    width: 80%;
    height: 165px;
    object-fit: contain; }
  .product-card__title {
    color: #333;
    font-size: 1.4rem;
    line-height: 2rem; }
  .product-card__price {
    color: #000;
    font-size: 2.1rem;
    line-height: 2.5rem;
    letter-spacing: 0.05rem; }
  .product-card__buy-button {
    background-color: #f13c6e;
    color: #fff;
    border: none; }
  .product-card__img, .product-card__title, .product-card__price {
    margin-bottom: 20px; }

.info-block {
  width: 540px;
  display: flex;
  justify-content: space-between;
  background: #f13c6e;
  color: #fff;
  border-radius: 3px;
  padding: 35px 40px; }
  .info-block__main-block {
    display: flex;
    flex-direction: column; }
  .info-block__title {
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-weight: bold; }
  .info-block__description {
    font-size: 1.4rem;
    line-height: 1.4rem; }
  .info-block__input {
    max-width: 225px;
    border-radius: 30px;
    background: #fff;
    padding: 9px 9px 9px 25px;
    border: none;
    outline: none;
    font-size: 1.4rem; }
    .info-block__input::placeholder {
      color: #c4c4c4; }
  .info-block__button {
    max-width: 170px;
    color: #fff;
    border-color: #fff;
    background: transparent; }
  .info-block__image-block {
    display: flex;
    justify-content: center;
    align-items: center; }
  .info-block__title, .info-block__description {
    margin-bottom: 25px; }

.sponsor-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 0.5px solid #e5e5e5;
  padding: 35px 63px; }
  .sponsor-item__img {
    width: 150px;
    height: 49px; }

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f13c6e;
  border-radius: 50%;
  width: 45px;
  height: 45px; }
  .social-link__icon {
    width: 60%;
    height: 60%; }

.header-navigation {
  background: #e5e5e5; }
  .header-navigation__wrapper {
    padding: 17px 0px; }
  .header-navigation__list {
    display: flex;
    justify-content: center;
    align-items: center; }
    .header-navigation__list > li:not(:last-child) {
      margin-right: 30px; }
  .header-navigation__link {
    color: #333;
    font-size: 1.4rem;
    line-height: 1.6rem; }

.header {
  background-color: #fff; }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px; }
  .header__logo-block {
    display: flex;
    align-items: center; }
    .header__logo-block:hover {
      border-bottom: none; }
  .header__logo-img {
    width: 80px;
    height: 80px; }
  .header__logo-title {
    color: #f13c6e;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 4.2rem;
    letter-spacing: 3.6px;
    text-decoration: uppercase;
    margin-left: 20px; }
  .header__search-block {
    display: flex;
    width: 300px;
    border-radius: 40px;
    background-color: #efefef;
    padding: 5px 30px 5px 20px; }
    .header__search-block:hover {
      box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.5); }
  .header__search-icon {
    margin: 5px; }
  .header__search-input {
    width: 100%;
    background-color: inherit;
    border: none;
    outline: none;
    font-size: 1.8rem; }
  .header__callback-block {
    display: flex;
    align-items: center;
    gap: 40px; }

.special-offers {
  background-color: #e5e5e5; }
  .special-offers__wrapper {
    padding: 80px 0px; }
  .special-offers__title {
    margin-bottom: 38px; }

.recently-viewed-products {
  background-color: #e5e5e5; }
  .recently-viewed-products__wrapper {
    padding: 80px 0px; }
  .recently-viewed-products__title {
    margin-bottom: 38px; }

.super-product {
  height: 684px;
  background-image: url("../assets/super-product/background.png");
  color: #fff; }
  .super-product__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .super-product__title {
    font-size: 4.8rem;
    font-weight: bold;
    line-height: 4.8rem; }
  .super-product__description {
    font-size: 1.4rem;
    line-height: 2rem; }
  .super-product__button {
    width: 170px;
    background-color: transparent;
    border-color: #fff;
    color: #fff; }
  .super-product__title, .super-product__description {
    margin-bottom: 55px; }

.info-blocks {
  background: #e5e5e5; }
  .info-blocks__wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: 25px;
    padding-bottom: 100px; }

.sponsors-block {
  background: #e5e5e5; }
  .sponsors-block__wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap; }

.footer {
  background: #fff; }
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 0px; }
  .footer__social-links {
    display: flex; }
  .footer__social-link:not(:last-child) {
    margin-right: 20px; }
  .footer__location-text {
    font-size: 1.4rem;
    line-height: 1.6rem; }
  .footer__tel-number {
    margin-right: 40px; }

@media (max-width: 1915px) {
  .info-block__wrapper {
    justify-content: center; } }
